body{
	background: rgb(238, 238, 238);
}
#main{
	margin-top: 150px;
	border: 1px solid rgb(212, 225, 87);
	width: 400px;
	background: white;
	box-shadow: 2px 4px 26px -1px rgba(166,164,166,1);
}
#logo{
	background: rgb(212, 225, 87);
	width: 400px;
}
#logIn{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background: white;
	border-bottom: 1px solid rgb(212, 225, 87);
	width: 350px;
  
}
#userNameInput{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;;
	border:none;
	border-bottom: 2px solid rgb(212, 225, 87);
	outline: none;
	width: 350px;
}
#userName{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	width: 350px;
}
#password{

	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	width: 350px;
}
#inputPassword{
	outline: none;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border:none;
	border-bottom: 2px solid rgb(212, 225, 87);
	width: 350px;
}
#error{
	margin-top: 10px;
	margin-left: 20px;
	margin-top: 10px
	font-size: 12px;
	visibility: hidden;
	display: inline-block;
	font-family: roboto;
}
#button{

	margin-top: 20px;
	margin-bottom: 20px;
	background: rgb(212, 225, 87);
	font-weight: bold;
	color: black;
	display: inline-block;
	margin-left: 50px;
 
}
#col{
	background color: white;
}